* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

a{
  color: transparent;
}

.navbar {
  background-color: #026AA7;
  color: white;
  justify-content: center;
  height: 7vh;
;
}
.container {
  display: flex;
  margin: 0;
  column-gap: 2vh;

}


.card {
  background-size: cover;
  background-position: center center;
  height: 15vh;
  width: 15vw;
  background-repeat: no-repeat;
}

.card-title {
  color: white;

}

.boards-div {
  cursor: pointer;
  background-color: whitesmoke;
  
}

.popup-div{
  background-color: whitesmoke;
}

.form-control{
  width:15vw
}


.btn-primary, .btn-danger{
  margin-top: 2vh;
  margin-right: 2vw;
}

.boards-container{
  margin: 5vh 5vw 5vh 14vw;
  flex-wrap: wrap;
  row-gap: 7vh;
  column-gap: 3vw;
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.home-welcome{
  font-size: 2rem;
  font-weight: 600;
}

.lists-container{
  display: flex;
  column-gap: 3vw;
}
.list-div{
  background-color: whitesmoke;
  row-gap: 3vh;
}

.add-card{
  margin-bottom: 4vh;
  border: 1px solid grey;
}

.button-x{
  margin-left: 2vw;
}

.input-class{
  margin-bottom: 3vh;
}

.loading{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}